{% extends 'master.html'%} {% load static %} {% block title %} login{%endblock%}
{% block extra_css %}

{% endblock %} 
{% block content %}


<main class="d-flex text-center">
  <section class="form-signin col-lg-3 m-auto">
    <div
      class="d-flex flex-column gap-1 justify-content-center align-items-center p-2 mb-3"
    >
      
      <div class="d-flex flex-column fw-semibold">
        <h4 class="m-0">INGRESAR</h4>
      </div>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.email }}
        
      </div>
      <div class="mb-3">
        {{ form.password }}
        
      </div>
     
      
      <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">
        Ingresar
      </button>
      <a href="{% url 'signup' %}"><small
        >Si no tenés una cuenta creada, podés registrarte haciendo click
      </a>
    </form>
  </section>
</main>

{% endblock %}
