{% extends 'master.html'%} {% load static %} {% block title %} login{%endblock%}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/contact.css' %}" />
{% endblock %} {% block content %}
<div class="row">
  <form class="formulario" action="" method="POST">
    {% csrf_token %}
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        {{ form.email }} {{ form.email.errors }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
