{% extends 'master.html'%} {% load static %} {% block title %} login{%endblock%}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/signup.css' %}" />
{% endblock %} {% block content %}
<p>Inicio de Sesion en este login</p>

<form class="formulario" method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col">
        <label for="exampleFormControlInput1" class="form-label"></label>
        {{loginform.email }} {{ loginform.email.errors }}
        <div class="col">
            {{ loginform.password }} {{ loginform.contry.password }}
        </div>
    </div>
    <div class="mb-3">
        <input class="btn
            btn-primary" type="submit" style=" margin-top: 3px; " value="Enviar" 
            {% if 'ok' in request.GET %} disabled="disabled" {% endif %} >
    </div>   
</form>
{% endblock %}
