{% extends 'master.html'%}
{% load static %}
{% block title %} Listado de Productos {% endblock %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/productos_listado.css' %}">
{% endblock %}
{% block content %}
    <h2 style="text-align: center;">Listado de Productos {{ fecha }}</h2>

    <h2>{{ fecha_actual }}</h2>
    <p>listado de Productos</p>
    <ul>
        {% comment %} {% for nombre_producto in listado_productos %} {% endcomment %}
            {% comment %} <li>
                <p>Nombre: {{nombre_producto.nombre | title}}</p>
                <p>Descripcion: {{nombre_producto.descripcion | title}}</p>  
                <p>Stock: {{nombre_producto.Stock}}</p>   
                <p>Precio: {{nombre_producto.precio}}</p>  
                {% if nombre_producto.imagen %}
                    <img src="{{ nombre_producto.imagen.url }}" alt="{{ nombre_producto.nombre }}">
                {% else %}
                    <p>No hay imagen disponible</p>
                {% endif %}
                <p>Categorías:
                    {% for categoria in nombre_producto.categoria.all %}
                        {{ categoria.nombre }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                
                <div>
                    <button type="button" class="btn btn-light-blue btn-md">Detalles...</button>
                </div>
            </li> {% endcomment %}

            {% comment %} {% endfor %} {% endcomment %}

            <div class="card-container row-cols-md-5 g-4">
                {% for nombre_producto in listado_productos %}
                <div class="col">
                  <div class="card">
                    <!-- Usar el atributo onerror para proporcionar una imagen predeterminada -->
                    <img src="{{ nombre_producto.imagen.url }}" class="card-img-top img-fluid" alt="{{ nombre_producto.nombre }}">
                    <div class="card-body">
                      <h5 class="card-title">${{nombre_producto.precio}}</h5>
                      <p class="card-text">{{nombre_producto.nombre | title}}</p>
                      <a href="{% url 'productos_detalle' nombre_producto.nombre %}" class="btn btn-primary">Detalles</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
        
    </ul>

    {% if listado_productos.count > 0 %}
        <p>cantidad de Productos: {{ listado_productos.count }}</p>

    {% else %}
        <p>No hay Productos</p>

    {% endif %}

{% endblock %}

