{% extends 'master.html'%}
{% load static %}
{% block title %} {{ producto.nombre }} {% endblock %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/productos_detalle.css' %}">
{% endblock %}
{% block content %}

    <h1>{{ producto.nombre }}</h1>
    <p>Descripcion: {{ producto.descripcion }}</p>
    <p>Stock: {{ producto.Stock }}</p>
    <p>Precio: {{ producto.precio }}</p>
    <!-- <p>Categoria{{ producto.categoria }}</p> -->
    

    

{% endblock %}


   
   
   
    
