{% extends 'master.html'%}
{% load static %}
{% block title %} Listado de Productos {% endblock %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/productos_listado.css' %}">
{% endblock %}
{% block content %}
    <h2 style="text-align: center;">Listado de Productos {{ fecha }}</h2>

    <h2>{{ fecha_actual }}</h2>
    <p>listado de Productos</p>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        .card {
            width: 48%;
            margin-bottom: 1rem;
            border: 1px solid #ccc; /* Añade un borde para visualizar el tamaño de la tarjeta */
        }
    
        .card img {
            width: 100%;
            height: 200px; /* Ajusta la altura según tus necesidades */
            object-fit: contain; /* Cambia a contain para que la imagen se ajuste sin recortar */
        }
    </style>
    
    <ul class="list-unstyled">
        <div class="card-container">
            {% for nombre_producto in listado_productos %}
            <div class="card">
                {% if nombre_producto.imagen %}
                    <img src="{{ nombre_producto.imagen.url }}" class="card-img-top img-fluid" alt="{{ nombre_producto.nombre }}">
                {% else %}

                    <!-- Manejo para cuando no hay imagen asociada -->
                    <img src="{% static 'img/default.jpeg' %}" alt="no hay imagen del producto" >

                    <p>No hay imagen disponible</p>
                {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">${{ nombre_producto.precio }}</h5>
                    <p class="card-text">{{ nombre_producto.nombre | title }}</p>
                    <a href="{% url 'productos_detalle' nombre_producto.nombre %}" class="btn btn-primary">Detalles</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </ul>
    
    
    
    
    
    
    
    {% if listado_productos.count > 0 %}
        <p>cantidad de Productos: {{ listado_productos.count }}</p>

    {% else %}
        <p>No hay Productos</p>

    {% endif %}

{% endblock %}

