#cards {
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.card {
    margin: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#cardeck {
    margin: 1rem;
}

