
.card {
    height: 100%;
}

.card-img-top {
    width: 100%; /* Ajusta el ancho de la imagen al 100% */
    object-fit: cover;
    height: 400px; /* Ajusta la altura de la imagen según tus necesidades */
}