* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  }

.logo {
    border-radius: 10px; 
    border: 2px solid gray;
    
}

/* propiedades logo header */
#logo {
    transition: all 0.3s ease;
    width: 100px;
    height: 100px;
}

#logo:hover {
    width: 110px;
    height: 110px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.911);
}

.formulario {
    background-color: lightblue;
    padding-top: 10px;
}
